.flipkart-form-container {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: #f1f3f6;
}

.flipkart-form {
  background: #fff;
  border-radius: 8px;
  padding: 30px;
  max-width: 700px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .back-btn {
    background: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #2874f0;
    padding: 0;

    &:hover {
      color: #0a58ca;
    }
  }

  h2 {
    color: #2874f0;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 600;
  }

  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      font-weight: 500;
      margin-bottom: 6px;
      color: #333;
    }

    input,
    textarea {
      padding: 10px 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      transition: 0.2s border;

      &:focus {
        border-color: #2874f0;
      }
    }

    .image-preview {
      margin-top: 10px;
      width: 200px;
      height: 120px;
      object-fit: cover;
      border-radius: 6px;
      border: 1px solid #ddd;
    }
  }

  .submit-btn {
    width: 100%;
    background-color: #2874f0;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s background;

    &:hover {
      background-color: #0a58ca;
    }
  }
}


.switch-row {
  flex-direction: row;
  align-items: center;
  gap: 15px;

  label {
    margin-bottom: 0;
    min-width: 60px;
  }

  .switch {
    width: 50px;
    height: 26px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;

    .switch-handle {
      width: 22px;
      height: 22px;
      background-color: #fff;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 2px;
      transition: transform 0.3s ease;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }

    &.active {
      background-color: #2874f0;

      .switch-handle {
        transform: translateX(24px);
      }
    }
  }

  .switch-label {
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
}
